*{
    padding: 0;
    margin: 0;
    box-sizing: boder-box;
}
li, ol, ul {
    list-style: none;
    padding:0 !important;
}
img{
    object-fit: cover;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    display: block;
}
header a{
    text-decoration: none;
    color:black;
    font-size:13px;
}

#header__container{
    width: 100%;
}
.header__container--contact{
    width: 100%;
    background-color: rgb(242, 252, 254);
}
.header__contact{
    display: flex;
    padding: 0px 50px;
    height: 50px;

}
.header__contact i{
    margin-right: 5px;
    font-size:12px;
}
.header__contact--left{
    display: flex;
    width: 50%;
    align-items: center;
}
.header__contact--left i{
    color: #d94277;
}
.header__left--phone{
    padding-right:30px;
}
.header__phone--icon,
.header__phone--number,
.header__email--icon,
.header__email--address{
    display: inline-block;
}

.header__phone--icon i{
    display: inline-block;
}
.header__contact--right{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.header__contact--right i{
    margin-right: 15px;
    color:#0672b6;
}
.header__contact--right input{
    border: none;
    border-left: solid black 1px;
    padding-left: 10px;
    background: none;
    outline: none;
    width: 100px;
    transition: 0.5s;
}
.header__contact--right input:focus{
    width: 200px;
}
.header__info{
    display: flex;
    height: 130px;
    align-items: center;
    padding: 0 50px;
}
.header__logo{
    width: 35%;
}
.header__bar{
    display: flex;
    justify-content: flex-end;
    width: 65%;
}
.header__bar a{
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
}
.header__bar--mobile{
    margin-left: auto;
    display: none;
}
.header__bar--mobile i{
    color: red;
    font-size: 30px;
    float: right;
}
.header__bar--mobile i:hover{
    cursor: pointer;
}
.header__mobile{
    background-color: #800d0d;
    position: absolute;
    right: 10%;
    top: 22%;
    z-index: 10;
    display: none;
}
.header__mobile a{
    display: block;
    font-size: 15px;
    color: white;
    font-weight: 700;
    padding: 15px;
    border-bottom: #efd4d426 solid 1px;
    transition: 0.5s;
}
.header__mobile a:hover{
    background-color: #8f155e;
}
.header__mobile::before{
    content: "";
    position: absolute;
    right: 10%;
    top:-10px;
    border-left: 8px solid #0000;
    border-right: 8px solid #0000;
    border-bottom: 10px solid #800d0d;
    width: 20px;
}








.content__left--body img{
    width: 100%;
    margin-bottom: 10px;
}
.content__left--body p{
    text-align: justify;
}



.content__noti{
    width: 100%;
    background-color: white;
    box-shadow: 1px 2px 6px 1px #ccc;
    position: sticky;
    top: 10px;
}
.content__noti--des{
    padding: 15px 25px;
}
.content__noti a{
    text-decoration: none;
    color: black;
}
.content__noti--header{
    display: flex;
    padding:10px 25px;
    align-items: center;
    border-bottom: 1px solid #188847;
}
.content__noti--header h4{
    margin: 0;
    color:rgb(192, 3, 3);
}
.content__noti--header img{
    padding-right: 10px;
    height: 41px;
}
.content__des--more{
    padding: 10px;
    margin-left:15px;
}
.content__des--more i{
    margin-left:10px;
}
.content__noti--des ul a{
    display: flex;
}
.content__noti--des ul a::before{
    content: "•";
    color: green;
    font-weight: 700;
    font-size: 24px;
    margin-right: 15px;
    margin-top: -9px;
}








.body__content--date{
    display: flex;
}
.body__content--container{
    margin: 20px 50px;
}
.content__date--right{
    margin-left: auto;
}
.content__date--right i{
    color:rgb(8, 8, 144);
    margin: 0px 5px;
}



.body__row--top{
    width: 100%;
    height:100px;
    background-color: #e9ecef;
    margin-bottom: 30px;
}
.row__top--container{
    margin: 0 50px;
}
.row__top--container a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}
.row__top--container a:hover{
    color:#c3151c;
}









.key{
    padding:20px 0 14px 0;
    border-bottom: solid gainsboro 2px;
}
.key i{
    margin-right: 10px;
}
.form__title{
    color:red;
    padding: 10px 0;
}
.form__title i{
    margin-right: 10px;
}
.form__container{
    margin: 20px 0;
}
form label{
    width: 100%;
    min-width: 92px;
    margin-bottom: 5px;
    text-align: left;
}
form input{
    padding: 5px;
    border: solid blueviolet 1px;
}
form textarea{
    padding: 5px;
    border: solid blueviolet 1px;
}
form button{
    background-color: rgb(248, 72, 72);
    color: white;
    padding: 10px 30px;
    margin-top: 30px;
    border: none;
    transition: 0.3s;
}
.form__button{
    width: 100%;
    margin-left: auto;
}
form button:hover{
    background-color: #8f155e;
}










#menufooter{
    background-color: #188847;
    height:60px;
    width: 100%;
    overflow: auto;
}
#menufooter .container{
    height: 100%;
}
.menufooter__content{
    height: 100%;
    margin: 0 50px;
    overflow: auto;
}
.menufooter__container{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    min-width: 810px;
}
.menufooter__container  a{
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    font-size: 17px;
}   

#footer{
    padding:30px 0;
}
.footer__logo img{
    margin-bottom: 20px;
}
.footer__left{
    margin-bottom: 20px;
}
.footer__container{
    margin: 0px 50px;
}
#footer p{
    margin-bottom: 5px;
}
.footer__middle{
    display: grid;
    align-items: center;
    margin-bottom: 20px;
}
.footer__middle a{
    display: block !important;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.footer__middle--list{
    margin-left: 30px;
}

.footer__right--name{
    color: #1a9547;
}
.footer__right--location h5{
    font-weight: 400;
}

@media(max-width: 1200px){
    .header__bar{
        display: none;
    }
    .header__bar--mobile{
        display: block;
    }
    .header__logo{
        width: 80%;
    }
}
@media(max-width: 992px)
{
    .form__button{
        text-align: center;
    }
    .footer__middle--list{
        margin-left: 0;
    }
    .header__contact--left{
        display: none;
    }
    .header__contact{
        justify-content: flex-end;
    }
}
@media(max-width:830px)
{
    .header__contact--left{
        display: none;
    }
    .header__contact--right{
        width: 100%;
    }
}
@media(max-width: 600px)
{
    .header__logo img{
        width: 100%;
    }
    .footer__logo img{
        width: 100%;
    };
}
@media (max-width:450px)
{
    .footer__logo img{
        width: 100%;
    }
}